.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 75vh;
}
.container {
  background-image: url("../../assets/background.jpg");
  background-blend-mode: saturation;
  background-size: cover;
}
.title {
  max-width: 100rem;
  margin: 0 auto;
}
.picture {
  max-width: 20rem;
}
@media only screen and (max-width: 575px) {
  .picture {
    max-width: 100%;
    max-height: 30%;
  }
}
