.cards {
  max-width: 100rem;
  margin: 0 auto;
}
.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  /* min-height: 100vh; */
  padding-bottom: 3%;
}
.title {
  max-width: 100rem;
  margin: 0 auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.projectsRow {
  justify-content: center;
}
