.accordionCard {
  border: none;
  border-radius: 0px;
}
.accordionToggle {
  transition: 0.5s;
}
.accordionToggleActive {
  background-color: #257af9;
  background-image: linear-gradient(15deg, #257af9 0%, #2426ca 100%);
  color: white;
  /* transition: 0.3s; */
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
